html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

a:hover {
  text-decoration: none;
}

canvas {
    display: block;
    margin: 30px auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#mobile-screen {
  display: none;
}
.wrapper {
    width: 707px;
    margin: 0 auto;
    margin-top: 2em;
    display: block;
}

#level {
  position: absolute;
  z-index: 1;
  /*display: inline-block;*/
  color: aliceblue;
  margin-top: 20px;
}
#level input {
  margin-left: -15px;
}

#level input .radio-inline {
  width: 45px;
}


#instructions {
    /*float: left;*/
    font-family: sans-serif;
    color: #787878;
    margin-left: 8px;
    display: inline-block;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
}

.wrapper button {
  opacity: .8;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 650px;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: 80px auto;
    width: 720px;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .8;
}

#game-over {
    padding-top: 150px;
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

button a {
  text-decoration: none;
  color: #151515;
}


@media (max-width: 950px) {
  #mobile-screen {
    display: block;
    margin-top: 60px;
  }
  .desc {
    font-size: 1.5em;
    font-weight: bold;
  }
  canvas, .wrapper {
    display: none;
  }
}
